<div id="header">
  <div class="logo">
    <% if user_signed_in? %>
        <a href="/" style= 'font-size: 25px' ><%= current_user.name %>’s Blog</a>
    <% else %>
        <a href="/" style= 'font-size: 25px' >One's Blog</a>
    <% end %>
  </div>
  <div class="link"></div>
    <ul id="nav">
      <% if user_signed_in? %>
        <li>
          <p class="new"><%= link_to '新規作成', new_article_path %></p>
        </li>  
         <li>
          <p class="logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>          
        </li>  
      <% else %>
        <li>
          <p class="login"><%= link_to 'ログイン', new_user_session_path %></p>
        </li>
        <li>
          <p class="regist"><%= link_to 'ユーザ登録', new_user_registration_path %></p>
        </li>  
      <% end %>
    </ul>  
</div>