<div id="header">
  <div class="logo">
    <% if user_signed_in? %>
        <a href="/" ><%= current_user.name %>’s Blog</a>
    <% else %>
      <div id=font-fixed>
        <a href="/">One's Blog</a>
      </div>
    <% end %>
  </div>
  <div class="link"></div>
    <ul id="nav">
      <% if user_signed_in? %>
        <li>
          <p class= "new">
            <%= link_to(new_article_path) do %>
              <i class="fas fa-edit" title="記事の新規作成"></i>
              <span class= "font hide-sp">新規作成</span>
            <% end %>
          </p>
        </li>
        <li>
          <p class= "logout">
            <%= link_to(destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}) do %>
              <i class="fa fa-sign-out-alt icon" title="ログアウト"></i>
              <span class= "font hide-sp">ログアウト</span>
            <% end %>
          </p>
        </li>
      <% else %>
        <li>
          <p class= "login">
            <%= link_to(new_user_session_path) do %>
              <i class="fa fa-sign-in-alt icon" title="ログイン"></i>
              <span class= "font hide-sp">ログイン</span>
            <% end %>
          </p>
        </li>
        <li>
          <p class= "regist">
            <%= link_to(new_user_registration_path) do %>
              <i class="fas fa-handshake" title="新規登録"></i>
              <span class= "font hide-sp">新規登録</span>
            <% end %>
          </p>                    
        </li>  
      <% end %>
    </ul>  
</div>


