<div id="header">
  <div class="logo">
    <% if user_signed_in? %>
        <a href="/" ><%= current_user.name %>’s Blog</a>
    <% else %>
      <div id=font-fixed>
        <a href="/" >One's Blog</a>
      </div>
    <% end %>
  </div>
  <div class="link"></div>
    <ul id="nav">
      <% if user_signed_in? %>
        <li>
          <p class="new hide-pc">
            <%= link_to(new_article_path) do %>
              <i class="fas fa-edit" title="記事の新規作成"></i>
            <% end %>
          </p>
        </li>
        <li>
          <p class="logout hide-pc">
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <i class="fa fa-sign-out-alt icon" title="ログアウト"></i>
            <% end %>
          </p>
        </li>
      <% else %>
        <li>
          <p class="login"><%= link_to 'ログイン', new_user_session_path %></p>
        </li>
        <li>
          <p class="regist"><%= link_to 'ユーザ登録', new_user_registration_path %></p>
        </li>  
      <% end %>
    </ul>  
</div>

