<!DOCTYPE html>
<html lang="ja">
  <head>
    <title> One’s Blog </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
    <div class="footerFixed">

    <%# 背景（星空を導入するための記述 %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <%= render 'layouts/header' %>
    
    <%# 新規登録やログイン時にメッセージを表示（うるぞーのブログで実装中) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
    

    <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
